<ion-header>
  <ion-toolbar>
    <ion-title>Películas populares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionChange)="onSearchInputChanged()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="navToMovieDetail(movie)">
      <ion-label>{{movie.title}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
                                 loadingSpinner="bubbles"
                                 loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
